.Body{
  background-color: #121212;
}


.text {
  display: inline-block;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
}

.text2 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
}


.icon {
  display: inline-block;
  vertical-align: middle; /* Centraliza o ícone verticalmente em relação ao texto */
  margin-right: 10px; /* Espaçamento opcional */
}

.space{
  color: #121212 ;
}

.print {
  position: absolute;
  right: 0; /* Alinha à direita */
  top: 50%; /* Posiciona no meio verticalmente */
  transform: translateY(-50%); /* Centraliza verticalmente de forma exata */
  height: 350px;
  width: 700px;
}
